html{
    width:940px;
    background-image:url('https://th.bing.com/th/id/R.ce1403f0f0382b03415d3a4bf6a1ee6a?rik=hePHlMUmqSbgKw&pid=ImgRaw&r=0');
}
.logo{
    width: 10%;
}

header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
    background-image: url('https://png.pngtree.com/back_origin_pic/04/15/25/b37c628ea364dbe8480d278021cb23aa.jpg');
}

.h1-header{
    font-family: 'Goldman', cursive;
    font-size:20px;
}

.pesquisa{
    margin-left:15px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    height:19px;
}

.lupa{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
    cursor:pointer;
}

.select{
    align-content: space-between;
    margin:5px;
}

.li{
    display:inline-block;
    margin:5px;
    border:2px solid rgb(65, 107, 2);
    border-radius:10px;
}
.li-a{
    text-decoration: none;
}
/*carrinho de compras*/
.carrinho{
    margin-left:30px;
    cursor:pointer;
}
.carrinho:hover{
    transform:scale(1.6);
    transition:0.5s;
}

ul a {
    font-size:17px;
    margin:3px;
    cursor:pointer;
    font-family: 'Goldman', cursive;
}

.infos{
    width:100%;
    margin:0;
}
.informacoes{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    cursor:pointer;
    background-color:rgb(86, 209, 86);
    padding:10px;
}

.info-li{
    font-family: 'Goldman', cursive;
    text-decoration: none;
    color:white;
    font-weight: bold;
}

.sobre{margin:30px;
    border:1px solid;
    border-radius: 15px;
    background-color: white;
}
.sobre-hidden{
    margin:10px;
    font-size:20px;
    font-family: 'Goldman', cursive;
    display: none;
}

.log-sec{
    background-color: white;
    border-radius:40px;
    border:none;
    opacity:0.97;
    margin:180px;
    width:60%;
    display: flex;
    flex-direction: column;
    padding-bottom:30px;
    padding-top:20px;
    height:600px;
    box-shadow: 5px 5px 20px black;
}
.label{
    font-size:25px;
    font-family: 'Goldman', cursive;
    padding-top:30px;
    padding-bottom: 10px;
    margin-left: 110px;
}
#senha{
    margin-left:230px;
}

.input{
    width: 60%;
    margin-left:110px;
    margin-top:15px;
    height: 50px;
}
.keep-logged{
    margin-left:185px;
    margin-top:15px;
}
.or{
    margin-top:50px;
}
.logar-alternativas{
    display:flex;
    flex-direction: column;
    align-items:center;
}
.button{
    width:55%;
    background-color: rgb(77, 64, 226);
    height:50px;
    border-radius: 8px;
    border:none;
    color:white;
    font-weight:bolder;
    margin-top:35px;
    display:flex;
    align-items:center;
    justify-content: center;
    cursor:pointer;
}
.img-google, .img-facebook{
    width:10%;
}
.enviar{
    margin-top:35px;
    display:flex;
    justify-content:center;
    margin-bottom:30px;
}
#entrar{
    width:60%;
    border-radius:0;
    background-color: #c2833b;
}
#entrar:hover{
    transform:scale(1.08);
    transition:0.7s;
}